.books-block {
    text-align: center;
}

.book-list-cell {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.book {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #000
}

.book img {
    max-height: 150px;
}

.book .book-image {
    width: 100px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.book .book-description {

}

.book .book-description h2 {
    font-size: 20px;
}

.book .book-description h3 {
    color: #777
}